html{
	height: 100%;
}

body{
	position: relative;
	padding: 0;
	margin: 0;
	background: #ededed;
	min-height: 100%;
}



header{
	background-image: url(images/header.jpg);
	height: 140px;
}

h1#title{
	margin-top: 0;
	text-align: center;
	position: relative;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	display: inline-block;
	color: white;
}

a.home{
	position: absolute;
	display: inline;
	left: 2%;
	top: 29.5px;
	padding: 4px;
	border: 1px solid gray;
	border-radius: 8px;
	letter-spacing: 5px;
	font-size: 1.1em;
	font-weight: 550;
	color: black;
}
a.home:link {text-decoration:none;}
a.home:visited {text-decoration:none;}
a.home:hover{
	text-decoration:none;
	background-color: black;
	color: white;
	border:1px solid black;
}

nav.main-nav{
	margin: 0px;
	padding: 0px;
	border:1px solid #ededed;
	border-right-width: 0px;
	border-left-width: 0px;
	height: 48.6px;
	background-color: white;
	position: relative;
	text-align: center;
	box-shadow: 0px 5px 4px -4px gray;
	border-image-width: 0;
	margin-bottom: 35px;
}

ul.nav-list{
	margin: 0px;
	padding: 0px;
	list-style: none;
	
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

li.nav-li{
	display: inline-block;
	margin-left: 1%;
	margin-right: 1%;
}

a{
	text-decoration: none;
	color: gray;
	font-size: 1.2em;
	font-weight: 1000;
}
a:link {text-decoration:none;}
a:visited {text-decoration:none;}
a:hover{
	text-decoration:none;
	color: #f4645f;
}

section{
	height: 100%;
	padding-bottom: 50px;
}

div.container{
	height: 100%;
}

div.row{
	height: 100%;
}

main.col-md-9{
	height: 100%;
}

nav.page-tail{
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	height: 36px;
	display: inline-block;
	vertical-align: top;
}

div.last-nav{
	background-color: #f4645f;
	color: white;
	margin-left: 3px;
	margin-right: 3px;
	border-radius: 2px;
	height: 36px;
	display: inline-block;
	margin-top: 0;
	margin-bottom: 0px;
	position: relative;
	padding: 0;
	float: left;
}

span.page{
	position: relative;
	padding: 0;
	float: left;
	top: 50%;
	transform: translateY(-50%);
	padding-left: 4px;
	padding-right: 4px; 
}

span#logo{
	position: relative;
	top: 18px;
	transform: translateY(-50%);


}

a.last-nav{
	background-color: #f4645f;
	color: white;
	margin-left: 3px;
	margin-right: 3px;
	border-radius: 2px;
	width: 36px;
	height: 36px;
	font-size: 6px;
	text-align: center;
	position: relative;
	display: inline-block;
	float: right;
}

footer{
	display: inline-block;
	margin-top: 30px;
	padding-bottom: 0px;
	padding-top: 0px;
	background-color: #202020;
	height: 40px;
	width: 100%;
	box-sizing: border-box;
	color: white;
	position: absolute;
	bottom: 0px;
}

footer>p{
	padding: 10px;
	margin-bottom: 0;
	display: inline-block;
}


div.aside-content{
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 21px;
	padding-bottom: 21px;
	margin-bottom: 35px;
	background-color: white;
}


#editor{
	position: relative;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	height: 815px;
	border-radius: 10px;
	border: 1px solid gray;
	box-shadow:-3px 3px 15px #6B6B6B;
	font-size: 100%;
}






#mode{
	border-radius: 3px;
	width: 50%;
}

#theme{
	border-radius: 3px;
	width: 80%;
}
#font-size{
	border-radius: 3px;
	width: 50%;
}

input#name{
	border: 1px solid gray;
	border-radius: 3px;
	width: 50%;
	display: inline-block;
	float: left;
	text-align: right;
}

input#suffix{
	border: 1px solid gray;
	border-radius: 3px;
	width: 30%;
	display: inline-block;
	float: left;
	text-align: center;
	background-color: white;
}

button#submit{
	border: 1px solid gray;
	border-radius: 3px;
	margin-top: 7px;
}

button#save-local{
	border: 1px solid gray;
	border-radius: 3px;
}

div.font-size{
	position: relative;
	padding: 10px;
	width: auto;
	height: auto;
}

input#font-size{
	display: inline-block;
	width: 75%;
	float: left;
	position: relative;
	left: 0;
}
input#show-size{
	display: inline-block;
	width: 20%;
	float: right;
	padding-left: 5px;
}

.side-form{
	width: 80%;
	border: 1px solid gray;
	border-radius: 5px;
	font-family: "Helvetica Neue",Helvetica,Arial,"Hiragino Sans GB","Hiragino Sans GB W3","WenQuanYi Micro Hei","Microsoft YaHei UI","Microsoft YaHei",sans-serif;
}
.side-form-button{
	border: 1px solid gray;
	border-radius: 5px;
	font-family: "Helvetica Neue",Helvetica,Arial,"Hiragino Sans GB","Hiragino Sans GB W3","WenQuanYi Micro Hei","Microsoft YaHei UI","Microsoft YaHei",sans-serif;
}

p.has-error{
	color: #b94a48;
}
input.has-error#name{
	border:1px solid #b94a48;
}

h4.has-error{
	color: #b94a48;
}

input.has-error{
	border:1px solid #b94a48;
}

div.alert{
	padding: 5px;
	margin-bottom: 3px;
}

div#state{
	display: inline-block;
	padding: 5px;
	border: 1px solid rgba(250,138,138,0.8);
	border-radius: 5px;
	box-shadow: 1px 1px 5px rgba(250,138,138,0.8);
	background-color: rgba(250,138,138,0.8);
	color: white;
	font-family: "Microsoft YaHei",Helvetica,Arial,"Hiragino Sans GB","Hiragino Sans GB W3","WenQuanYi Micro Hei","Microsoft YaHei UI","Microsoft YaHei",sans-serif;
	font-weight: 600;
}

input#logout-button{
	margin-top: 5px;
}

h4{
	margin-bottom: 5px;
}

input#register-button{
	margin-left: 20px;
}