<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name='viewport' content="width=device-width,initial-scal=1">
		<title>Root</title>
		<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/bootstrap.min.css')}}">
		<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='root.css')}}">
	</head>

	<body>
		<section>
			<div class="container">
				<div class="row">
					<div class="col-md-12 main-content">
						<p><a href="/" id="home">回到首页</a></p>
						<p>所有用户</p>
						<table class="table table-striped table-bordered table-hover">
							<tr>
								<td>User Name</td>
								<td>Password</td>
								<td>Authority</td>
								<td>Authority Mean</td>
								<td>Delete</td>
								<td>Change Password</td>
								<td>Change Authority</td>
							</tr>
							{% for (line,order) in user %}
							<tr>
								<td>{{ line[0] }}</td>
								<td>{{ line[1] }}</td>
								<td>{{ line[2] }}</td>
								{% if line[2]==1 %}
								<td>最高权限</td>
								{% else %}
								<td>普通用户</td>
								{% endif %}
								<td><form action="/delete_user" method="post"><input type="text" name="user" value="{{ line[0] }}" hidden><button>Delete</button></form></td>
								<td><form action="/change_password" method="post"><input type="text" name="user" value="{{line[0]}}" hidden><input type="text" name="password"><button>Change</button></form></td>
								{% if line[2]==1 %}
								<td><form action="/change_authority" method="post"><input type="text" name="user" value="{{ line[0] }}" hidden><input type="text" name="authority" value="2" hidden><button>降级</button></form></td>
								{% else %}
								<td><form action="/change_authority" method="post"><input type="text" name="user" value="{{ line[0] }}" hidden><input type="text" name="authority" value="1" hidden><button class="upgrade">提升</button></form></td>
								{% endif %}
							</tr>
							{% endfor %}
						</table>

						<p>所有Blog</p>
						<table class="table table-striped table-bordered table-hover">
							<tr>
								<td>Title</td>
								<td>Auth</td>
								<td>Date</td>
								<td>Delete</td>
							</tr>
							{% for line in blog %}
							<tr>
								<td><a href="/md-editor/show/{{line[0]}}">{{ line[1] }}</a></td>
								<td>{{ line[2] }}</td>
								<td>{{ line[3] }}</td>
								<td><form action="/delete_blog" method="post"><input type="text" name="id" value="{{ line[0] }}" hidden><button>Delete</button></form></td>
							</tr>
							{% endfor %}
						</table>

					</div>
				</div>
			</div>
		</section>
	</body>
</html>