html{
	height: 100%;
}

body{
	padding: 0;
	margin: 0;
	height: 100%;
}

#title{
	background-image: url(header.jpg);
	height: 195px;
}

#title-img{
	padding-top: 42px;
}

#content-part{
	margin-top: 20px;
}

#img{
	border-radius: 10px;
}


.side-form-button{
	width:32px;
	height: 32px;
}



#button_group{
	margin-top: 50px;
	margin-bottom: 25px;
}

#pitch_button_1{
	background-image: url(left.png);
	border: 0;
	padding: 0;
	margin-top: 3px;
	margin-bottom: 3px;
	margin-left: 0px;
	margin-right: 16px;
	background-color: white;
}

#pitch_button_2{
	background-image: url(right.png);
	border: 0;
	padding: 0;
	margin-top: 3px;
	margin-bottom: 3px;
	margin-left: 16px;
	margin-right: 0px;
	background-color: white;
}

#yaw_button_1{
	background-image: url(up.png);
	border: 0;
	padding: 0px;
	margin: 0px;
	background-color: white;
}

#yaw_button_2{
	background-image: url(down.png);
	border: 0;
	padding: 0px;
	margin: 0px;
	background-color: white;
}