body{
	background-image: url(wall1.jpg);
	background-size: cover;
}


#main{
	margin-top: 15%;
}

input{
	border-radius: 3px;
	border: 0px;
}

button{
	border-radius: 3px;
	border: 3px;
	background-color: white;
}