<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name='viewport' content="width=device-width,initial-scal=1">
		<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/bootstrap.min.css')}}">
		<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='hello.css')}}">
		<title>this is stan</title>
	</head>

	<body>
		<h1>Stan!</h1>
		<blockquote>
			<p>祸莫僭于欲利，痛莫过于伤心</p>
			<small>from <cite title="史记 司马迁">史记</cite></small>
		</blockquote>		
	</body>

</html>
