<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		
		<title>test Bootstrap</title>
		<link rel="stylesheet" type="text/css" href="me.css">
		<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">

	</head>

	<body>

		<header>
			<div>
				<h1 id="my-h1">这是一个测试页面</h1>
			</div>
		</header>

		<nav class="navbar navbar-default" id="my">
			<ul class="nav navbar-nav" id='wtf'>
				<li><a href="wedwe">nothing</a></li>
				<li><a href="wedwe">nothing</a></li>
				<li><a href="wedwe">nothing</a></li>
				<li><a href="wedwe">nothing</a></li>
				<li><a href="wedwe">nothing</a></li>
				<li><a href="wedwe">nothing</a></li>
			</ul>
		</nav>


	</body>
</html>