<!DOCTYPE html>
<html>
<head>
	<title>Backend</title>
</head>
<body>
	<input type="button" class='side-form-button' id="pitch+button" value='pitch+5'/>
	<input type="button" class='side-form-button' id="pitch-button" value='pitch-5'/>
	<input type="button" class='side-form-button' id="yaw+button" value='yaw+5'/>
	<input type="button" class='side-form-button' id="yaw-button" value='yaw-5'/>

	<script type="text/javascript" src="{{url_for('static',filename='backend.js')}}"></script>
</body>
</html>