<!DOCTYPE html>
<html>
	<head>
		<title>Light Control</title>
		<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='home.css')}}">
	</head>

	<body>
		<h1><div class="name">照明控制</div></h1>
		<div id="content">
			<div id="part1">
				<div class="main-content">
					<div class="title">卧室</div>
					<form id="b1-form">
						<input type="Button" name="B1" id="B1" class="button close">
					</form>
				</div>
			</div>
		
			<div id="part2">
				<div class="main-content">
					<div class="title">门灯</div>
					<form id="b2-form">
						<input type="Button" name="B2" id="B2" class="button close">
				    </form>
				</div>
			</div>
		</div>
		<script type="text/javascript" src="{{url_for('static',filename='home.js')}}"></script>
	</body>
</html>
